/* .body {
  text-align: center;
  display: flex;
  background-color: darkred;
  color: aliceblue;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
} */

.test {
  display: flex;
  background-color: rgb(41, 44, 43);
}


.sidemenu {
  width: 20vw;
  height: 100vh;
  /* border: 1px solid white; */
  text-align: center;
  color: aliceblue;

}

.side-menu-button {
  padding: 15px;
  border: 1px solid white;
  border-radius: 5px;

}

.chatbox {
  flex: 1;
  border: 1px solid white; 
  width: auto;
  height: 100vh;
  position: relative;
}

.chat-log {
  padding: 24px;
}

.chat-message {
  margin: 10px;
  padding: 12px;
  padding-left: 40px;
  color: aliceblue;
  background-color: black;
}

.chat-input-holder {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.chat-input-textarea {
  width: 75vw;
  font-size: 1.5em;
  border-radius: 5px;
  border: none;
  border-color: none;
  margin: 12px;
  outline: none;
}