.chat-interface {
    display: flex;
}

.sidebar-container{
    margin: 0%;
    padding: 0;
    position: relative;
    top: 4vh;
    left: 4vw;
    width: fit-content;
    color: aliceblue;

}


.sidebar {
    border: 1px solid aliceblue;
    border-radius: 20px;
    width: 15vw;
    height: 90vh;
    margin: 0%;
}


.chat-container{
    position: relative;
    width: fit-content;
    margin: 0%;
    top: 5vh;
    left: 20vw;
  }
  
  
  .chatbox {
    position: relative;
    color: aliceblue;
    border: 1px solid aliceblue;
    width: 45vw;
    height: 55vh;
    padding: 10%;
    border-radius: 15%;
    font-family: 'Sora', sans-serif;
    margin: 0%;
    overflow: scroll;
  
  }

  .message {
    padding: 2%;
  }
  .message.user {
    color: aquamarine;
  }

  .message.assistant {
    line-height: 2;
  }
  
  .chat-input-holder {
    position: relative;
    left: 2vw;
    top: 5vh;
    width: 50vw;
    /* border: 1px solid red;
    border-radius: 10px; */
  }

  .chat-input-textarea {
    width: 55vw;
    font-family: 'Sora', sans-serif;
    font-size: 1rem;
    text-align: center;
    height: 5vh;
    border: 2px solid aliceblue;
    border-radius: 10px;
  }
  
  
