.chat-container{
  position: relative;
  top: 10vh;
  left: 30vw;
}


.chatbox {
  position: relative;
  color: aliceblue;
  border: 1px solid aliceblue;
  width: 40vw;
  height: 40vh;
  padding: 10%;
  border-radius: 20%;
  font-family: 'Sora', sans-serif;

}

.chat-input-holder {
  position: relative;
  left: 2vw;
  top: 5vh;
  width: 50vw;
  /* border: 1px solid red;
  border-radius: 10px; */
}

/* .formtest {
  border-radius: 10%;
} */

.chat-input-textarea {
  width: 55vw;
  font-family: 'Sora', sans-serif;
  font-size: 1rem;
  text-align: center;
  height: 5vh;
  border: 2px solid aliceblue;
  border-radius: 10px;
  

}


/* .test {
    display: flex;
    background-color: rgb(41, 44, 43);
  }
  
  
  .sidemenu {
    width: 20vw;
    height: 100vh;
    text-align: center;
    color: aliceblue;
  
  }
  
  .side-menu-button {
    padding: 15px;
    border: 1px solid white;
    border-radius: 5px;
  
  }
  
  .chatbox {
    flex: 1;
    border: 1px solid white; 
    width: auto;
    height: 100vh;
    position: relative;
  }
  
  .chat-log {
    padding: 24px;
  }
  
  .chat-message {
    margin: 10px;
    padding: 12px;
    padding-left: 40px;
    color: aliceblue;
    background-color: black;
  }
  
  .chat-input-holder {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .chat-input-textarea {
    width: 75vw;
    font-size: 1.5em;
    border-radius: 5px;
    border: none;
    border-color: none;
    margin: 12px;
    outline: none;
  } */