.chat-interface {
  position: relative;
  top: 5vh;
  display: flex;
  flex-direction: column;
  font-family: "Sora", sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.chat-container {
  position: relative;
  margin: auto;
  margin: 0%;
}

.chatbox {
  position: relative;
  color: aliceblue;
  border: 1px solid aliceblue;
  width: 45vw;
  height: 55vh;
  padding: 10%;
  border-radius: 15%;
  font-family: "Sora", sans-serif;
  margin: 0%;
  overflow: scroll;
}

.message {
  padding: 2%;
}
.message.user {
  color: aquamarine;
}

.message.assistant {
  line-height: 2;
}

.waiting-message {
  color: rgb(214, 139, 165);
  text-align: center;
}

.chat-input-holder {
  position: relative;
  top: 5vh;
  width: 50vw;
}

.chat-input-textarea {
  width: 55vw;
  font-family: "Sora", sans-serif;
  font-size: 1rem;
  text-align: center;
  height: 5vh;
  border: 2px solid aliceblue;
  border-radius: 10px;
}

.chat-interface-copyright {
  position: relative;
  top: 8vh;
  color: aliceblue;
  font-size: 1rem;
}
