.signup {
  position: relative;
  top: 0vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  margin: auto;
  color: aliceblue;
  width: 40vw;
  font-size: 2rem;
  font-family: "Sora", sans-serif;
}

.signup h1 {
  font-size: 3rem;
  margin: 0%;
  padding-bottom: 10%;
  padding-top: 5%;
}

.signup h2 {
  margin: 0%;
  font-size: 1.5rem;
}

.signup-container {
  padding-bottom: 5%;
}

.signup-form {
  width: 20vw;
  font-family: "Sora", sans-serif;
  font-size: 1rem;
  margin: auto;
  text-align: center;
  height: 2.5vh;
  border: 2px solid aliceblue;
  border-radius: 10px;
}

.signup-button-container {
  padding: 5%;
}

.signup-button {
  width: 6vw;
  height: 8vh;
  border: 1px solid aliceblue;
  border-radius: 50%;
  text-decoration: none;
  color: aliceblue;
  background-color: #1a1c2d;
  transition: background-color 1.5s, color 1s;
  font-size: 0.9rem;
  font-family: "Sora", sans-serif;
}

.signup-button:hover {
  background-color: rgb(214, 139, 165);
  color: aliceblue;
  border: 1px solid rgb(214, 139, 165);
}

.signup-login-button-container h2 {
  padding-bottom: 7%;
}
.signup-login-button-container {
  padding-top: 8%;
}

.signup-login-button {
  display: inline-block;
  padding: 5% 5%;
  border: 1px solid aliceblue;
  border-radius: 50%;
  background-color: #272a43;
  color: aliceblue;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 1.5s, color 1s;
  text-align: center;
}

.signup-login-button:hover {
  background-color: rgb(121, 118, 214);
  border: 1px solid rgb(121, 118, 214);
  color: #272a43;
}

.signup-copyright {
  position: relative;
  top: 5vh;
  color: aliceblue;
  font-size: 1rem;
}
