@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100&display=swap');

html {
  background-color: #0b090f;
  background: radial-gradient(ellipse at bottom, #272a43 0%, #0b090f 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.welcome-page {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 30vw;
    top: 10vh;
}

.welcome-intro {
    position: relative;
    text-align: center;
    width: 40vw;
}

.welcome-intro h1{
    color: aliceblue;
    font-family: 'Sora', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

.welcome-image-container {
    position: relative;
    left: 10vw;
    top: 5vh;

}

.welcome-image {
    width: 24vw;
    height: auto;
}
